.header{
    background-color: #2b2e32;
    border: 2px solid #1c1e22;
}
.collapse ul li{

    margin: 0 12px;
}
.nav-item a{
    color: #eee;
    font-size: 14px;
}

.a{
    color: white;
    margin-top: 15px;
}
.nav-item a:hover{
     color: #ccc;
}
.nav-item a:focus{
    color: #ccc;
}
.ab{
    color: #bab5b5;
    margin-top: 15px;
}
.navbar{
    margin: 0;
    padding: 0;
}
.navbar-brand:hover p{
    color: white;
}
